{{ define "main" }}
<div class="container">
  <h1 class="title">{{ .Title }}</h1>
  <div class="subheading">
    <h3>{{ if le .Params.rating 5}}
      {{ with .Params.rating }}
      <div class="rating">
        {{ range (seq (.))}}
        <svg class="icon active-star">
          <use xlink:href="/fontawesome-free-5.13.0-web/sprites/solid.svg#star"></use>
        </svg>
        {{ end }}
        {{ range seq (sub . 5)}}
        <svg class="icon inactive-star">
          <use xlink:href="/fontawesome-free-5.13.0-web/sprites/solid.svg#star"></use>
        </svg>
        {{ end }}
      </div>
      {{ end }}
      {{ end }}
      <span class="subtitle">{{ .Params.Subtitle }}</span>
      <h3>
  </div>
  {{ if isset .Params "coverimage" }}
  <img class="coverimage darkmode-ignore" src="{{ .Params.coverimage }}"></img>
  {{ end }}


  <div class="information">




    {{ if isset .Params "healthlevel" }}
    <div class="healthlevel">
      {{ if eq .Params.healthlevel 1 }}
      <svg class="icon iconlevel1">
        <use xlink:href="/fontawesome-free-5.13.0-web/sprites/solid.svg#heart"></use>
      </svg>
      <div class="level1">healthy</div>
      {{ else if (eq .Params.healthlevel 2) }}
      <svg class="icon iconlevel2">
        <use xlink:href="/fontawesome-free-5.13.0-web/sprites/solid.svg#heart"></use>
      </svg>
      <div class="level2">not so healthy</div>

      {{ else if (eq .Params.healthlevel 3) }}
      <svg class="icon iconlevel3">
        <use xlink:href="/fontawesome-free-5.13.0-web/sprites/solid.svg#heart"></use>
      </svg>
      <div class="level3">unhealthy</div>
      {{ end }}
    </div>
    {{ end }}

    {{ if isset .Params "servings" }}
    <div class="servings">
      <svg class="icon">
        <use xlink:href="/fontawesome-free-5.13.0-web/sprites/solid.svg#utensils"></use>
      </svg>
      {{ if eq .Params.servings 1 }}
      {{ .Params.servings }} serving
      {{ else }}
      {{ .Params.servings }} servings
      {{ end }}
    </div>
    {{ end }}

    {{ if isset .Params "duration" }}
    <div class="duration">
      <svg class="icon">
        <use xlink:href="/fontawesome-free-5.13.0-web/sprites/solid.svg#clock"></use>
      </svg>
      {{ if eq .Params.duration 1 }}
      {{ .Params.duration }} min
      {{ else }}
      {{ .Params.duration }} mins
      {{ end }}
    </div>
    {{ end }}


    {{ if isset .Params "date" }}
    <div class="date">
      <svg class="icon">
        <use xlink:href="/fontawesome-free-5.13.0-web/sprites/solid.svg#calendar-alt"></use>
      </svg>
      {{ .Params.date.Format "2.1.2006" }}
    </div>
    {{ end }}

    {{ with .Params.author }}
    <div class="author">
      <svg class="icon">
        <use xlink:href="/fontawesome-free-5.13.0-web/sprites/solid.svg#user"></use>
      </svg>
      {{ title . }}
    </div>
    {{ end }}
  </div>

  <div class="wrapper">
    <div class="items">

      {{ if isset .Params "ingredients" }}
      <div class="ingredients">
        <table>
          <th class="table_header">Ingredients</th>
          {{ range .Params.ingredients }}
          <tr>
            {{ if isset . 1}}
            <td class="amount">{{ index . 0}}</td>
            <td class="ingredient">{{ index . 1}}</td>
            {{ else }}
            <td class="amount"></td>
            <td class="ingredient">{{ index . 0}}</td>
            {{ end }}
          </tr>
          {{ end }}
        </table>
      </div>
      {{ end }}

      {{ with .Params.utensils }}
      <div class="utensils">
        <table>
          <th class="table_header">Utensils</th>
          {{ range . }}
          <tr>
            <td>{{ . }}</td>
          </tr>
          {{ end }}
        </table>
      </div>
      {{ end }}

    </div>

    <div class="content">
      <h4>Instructions</h4>
      {{ .Content }}
    </div>
  </div>
</div>


<!--  <div class="tags">
    {{ if isset .Params "tags" }}
    <ul>
      {{ range sort .Params.tags }}
      <li><svg class="icon">
          <use xlink:href="/fontawesome-free-5.13.0-web/sprites/solid.svg#tag"></use>
        </svg>
        <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">


          {{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>-->


</div>
{{ end }}
